@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: #010101;
$red: #D40000;
$red_hover_btn: #EA0E00;
$white: #ffffff;

$font: 'Inter', sans-serif;

$r_mimob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_mob_700: 700px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1140: 1140px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
}
 
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Для слайдеров
    > * {
        min-width: 0;
    }
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    font-family: $font;
    color: $black;
    background-color: #EEEEEE;
    @media(max-width: $r_desk_1140) {
    font-size: calc(10px + 4*(100vw - 360px)/780);
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
    @media(max-width: $r_mob_700) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

h1 {
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 122%;
    text-transform: uppercase;
    margin: 0;
    @media(max-width: $r_desk_1140) {
        font-size: calc(28px + 46*(100vw - 360px)/780);
    }
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 150%;
    @media(max-width: $r_desk_1140) {
        font-size: calc(16px + 12*(100vw - 360px)/780);
    }
}

h3 {
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0;
    line-height: 150%;
    @media(max-width: $r_desk_1140) {
        font-size: calc(16px + 12*(100vw - 360px)/780);
    }
}

.description {
    &__size-xxl {
        font-size: 4.2rem;
        font-weight: 700;
        margin: 0;
        line-height: 150%;
        @media(max-width: $r_desk_1140) {
            font-size: calc(22px + 20*(100vw - 360px)/780);
        }
    }
    &__size-xl {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0;
        line-height: 150%;
        @media(max-width: $r_desk_1140) {
            font-size: calc(15px + 12*(100vw - 360px)/780);
        }
    }
    &__size-l {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0;
        line-height: 150%;
        @media(max-width: $r_desk_1140) {
            font-size: calc(12px + 4*(100vw - 360px)/780);
        }
    }
    &__size-m {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0;
        line-height: 150%;
        @media(max-width: $r_desk_1140) {
            font-size: calc(10px + 6*(100vw - 360px)/780);
        }
    }
    &__size-s {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
        line-height: 150%;
        @media(max-width: $r_desk_1140) {
            font-size: calc(10px + 4*(100vw - 360px)/780);
        }
    }
}

.span {
    &__about {
        font-size: 2.8rem;
        font-weight: 400;
        display: block;
        text-transform: capitalize;
        margin-bottom: 3.5rem;
        @media(max-width: $r_desk_1140) {
            font-size: calc(18px + 10*(100vw - 360px)/780);
            margin-bottom: calc(22px + 13*(100vw - 360px)/780);
        }
    }
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #EEEEEE;
    z-index: 3;
    @media(max-width: $r_desk_1140) {
        padding-top: calc(20px + 20*(100vw - 360px)/780);
        padding-bottom: calc(4px + 20*(100vw - 360px)/780);
    }

    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 3rem;
        @media(max-width: $r_desk_1140) {
            gap: calc(4px + 26*(100vw - 640px)/500);
        }
        @media(max-width: $r_tab) {
            display: none;
        }
    }

    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.6rem;
        @media(max-width: $r_tab) {
            display: none;
        }
    }

    &__tel{
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__email {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
        &::before {
            content: '';
            position: relative;
            border-right: 2px solid rgba(0,0,1,.2);
            left: -13px;
            pointer-events: none;
        }
    }

    &__menu {
        display: none;
        
        @media(max-width: $r_tab) {
            display: block;
            width: 4rem;
            height: 4rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 2.5rem 2.5rem;
            background-image: url(../images/line.svg);
            background-color: rgba(0,0,0,0);
            position: relative;
            border: none;
            transition: .3s;
            opacity: .8;
            padding: 0;
            cursor: pointer;
        }
    }
    
    &__hidetel {
        display: none;

        @media(max-width: $r_tab) {
            display: block;
            flex-basis: 100%;
            padding-right: 1.5rem;
            width: 140px;
            font-size: 1.4rem;
            line-height: 1.5;
        }
    }
}

.btn {

    &__project {
        position: relative;
        font-size: 1.6rem;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        position: relative;
        transition: .3s;
        @media(max-width: $r_desk_1140) {
            font-size: calc(12px + 4*(100vw - 360px)/780);
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
        &::before {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background-color: $black;
            left: 0%;
            transition: .3s;
            bottom: -5px;
        }
    }
}

.figure {

    &__triangle1 {
        position: absolute;
        top: -24rem;
        left: -8rem;
        z-index: -1;
        @media(max-width: $r_desk_1350) {
            display: none;
        }
        @media(max-width: $r_mob_700) {
            display: block;
            transform: scale(.4);
            top: -11rem;
            left: 0;
        }
        @media(max-width: $r_mob_500) {
            left: -2rem;
        }
    }
    &__triangle2 {
        position: absolute;
        bottom: 12rem;
        left: -15rem;
        z-index: -1;
        @media(max-width: $r_desk_1350) {
            display: none;
        }
        @media(max-width: $r_mob_700) {
            display: block;
            transform: scale(.4);
            bottom: 27rem;
            left: 10.5rem;
        }
        @media(max-width: $r_mob_500) {
            bottom: 22rem;
            left: 7.5rem;
        }
    }
    &__circle1 {
        position: absolute;
        top: -20rem;
        left: -6rem;
        z-index: -2;
        transform: scale(2.4);
        @media(max-width: $r_desk_1350) {
            transform: scale(1.8);
            left: calc(1px - 20*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            top: -20rem;
        }
        @media(max-width: $r_mob_500) {
            transform: scale(1.27);
            top: -18rem;
            left: -3rem;
        }
    }
    &__circle2 {
        position: absolute;
        bottom: -3.5rem;
        right: 5rem;
        transform: scale(1);
        z-index: -1;
        @media(max-width: $r_desk_1140) {
            transform: scale(.8);
            right: calc(5px + 45*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_500) {
            transform: scale(.56);
        }
        
    }
    &__circle3 {
        position: absolute;
        bottom: -8rem;
        left: 53rem;
        transform: scale(4.4);
        z-index: -1;
        @media(max-width: $r_tab_900) {
            transform: scale(3.2);
            bottom: -8rem;
            left: calc(250px + 250*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_500) {
            transform: scale(1.85);
            bottom: -8rem;
            left: calc(180px + 250*(100vw - 360px)/780);
        }
    }
    &__circle4 {
        position: absolute;
        bottom: 19rem;
        left: -4rem;
        transform: scale(1.4);
        z-index: -1;
        @media(max-width: $r_tab_900) {
            bottom: calc(110px + 80*(100vw - 360px)/780);
            left: calc(-70px + 5*(100vw - 360px)/780);
        }
    }
    &__circle5 {
        position: absolute;
        bottom: -3rem;
        left: -4rem;
        transform: scale(0.86);
        z-index: -1;
        @media(max-width: $r_mob_500) {
            transform: scale(0.6);
        }
        @media(max-width: $r_mob_400) {
            transform: scale(0.45);
        }
    }
    &__circle6 {
        position: absolute;
        bottom: -3rem;
        left: -4rem;
        transform: scale(0.86);
        z-index: -1;
        @media(max-width: $r_mob_500) {
            transform: scale(0.6);
        }
        @media(max-width: $r_mob_400) {
            transform: scale(0.45);
        }
    }

    &__circle7 {
        position: absolute;
        bottom: 6rem;
        left: -4rem;
        transform: scale(2.86);
        z-index: -2;
        @media(max-width: $r_desk_1350) {
            transform: scale(2.3);
            bottom: calc(130px - 40*(100vw - 360px)/780);
            left: calc(1px - 20*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            bottom: 17rem;
            left: 2.5rem;
        }
        @media(max-width: $r_mob_500) {
            transform: scale(1.79);
            bottom: 14rem;
            left: 0.5rem;
        }
    }
}

.main {

    &__about {
        margin-top: 104px;
        padding-top: 2rem;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(61px + 43*(100vw - 360px)/780);
        }
    }

    &__image {
        margin-bottom: 12rem;
        @media(max-width: $r_desk_1140) {
            margin-bottom: calc(60px + 60*(100vw - 360px)/780);
        }
        
    }

    &__photo {
        width: 100%;
        height: auto;
        @media(max-width: $r_mob_700) {
            display: none;
        }
    }

    &__photo1 {
        display: none;
        width: auto;
        height: 215px;
        margin: 0 auto;
        @media(max-width: $r_mob_700) {
            display: block; 
        }
        @media(max-width: $r_mob_400) {
            width: 100%;
            height: auto; 
        }
    }

    &__social {
        position: relative;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 5.6rem;
        @media(max-width: $r_mob_700) {
            gap: 1rem;
        }
    
        &-link {
            color: $black;
            text-decoration: none;
            font-size: 1.6rem;
            transition: .3s;
            @media(max-width: $r_desk_1140) {
                font-size: calc(12px + 4*(100vw - 360px)/780);
            }
            &:hover {
                color: $red;
                transition: .3s;
            }
        }

        &-inst,&-ldin {
            &::before {
                content: '';
                position: relative;
                border-right: 2px solid rgba(0,0,1,.2);
                left: -28px;
                pointer-events: none;
                @media(max-width: $r_mob_700) {
                    left: -5px;
                }
            }
        }
    }
    
    &__info {

        &-up {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 6rem;
            @media(max-width: $r_desk_1140) {
                margin-bottom: calc(42px + 18*(100vw - 360px)/780);
            }
        }

        &-down {
            border-top: 2px solid rgba(0,0,1,1);
            padding-top: 6.2rem;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 3.7rem;
            @media(max-width: $r_desk_1140) {
                padding-top: calc(40px + 22*(100vw - 360px)/780);
                gap: calc(30px + 7*(100vw - 360px)/780) calc(1px + 7*(100vw - 360px)/780);;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
            }
        }
        &-down1, &-down2, &-down3, &-down4 {
            max-width: 24rem;
            @media(max-width: $r_desk_1140) {
                max-width: calc(170px + 70*(100vw - 360px)/780);
            }
        }
        
        &-description {
            text-transform: uppercase;
            margin-bottom: 15px;

            &-size-s {
                opacity: .8;
                @media(max-width: $r_mob_400) {
                    font-size: calc(8.4px + 4*(100vw - 360px)/780);
                }
            }
        }
    }
}

.info {
    margin-top: 18rem;
    margin-bottom: 18rem;
    @media(max-width: $r_desk_1140) {
        margin-top: calc(80px + 100*(100vw - 360px)/780);
        margin-bottom: calc(60px + 120*(100vw - 360px)/780);
    }

    &__grid {
        display: grid;
        grid-template-columns: 200px 570px;
        gap: 323px;
        justify-content: space-between;
        padding-bottom: 6rem;
        border-bottom: 2px solid #000001;
        @media(max-width: $r_desk_1140) {
            padding-bottom: calc(40px + 20*(100vw - 360px)/780);
            gap: calc(1px + 115*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
            
        &-item1 {
            max-width: 16rem;
        }

        &-item2 {
            min-width: 56rem;
            @media(max-width: $r_desk_1140) {
                min-width: calc(340px + 220*(100vw - 360px)/780);
            }
            @media(max-width: $r_tab_900) {
                width: calc(340px + 220*(100vw - 360px)/780);
            }
            
        }

        &-description-xl {
            opacity: .8;
            margin: 0;
            line-height: 150%;
        }

        &-description-l {
            margin-bottom: 2rem;
            @media(max-width: $r_desk_1140) {
                margin-bottom: calc(15px + 5*(100vw - 360px)/780);
            }
        }

        &-description-s {
            font-size: calc(10px + 4 * (100vw - 360px) / 780);
        }

        &-item1 {
            max-width: 16rem;
        }

        &-item4 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem 5rem;
            @media(max-width: $r_tab_900) {
                gap: calc(30px + 30*(100vw - 360px)/780) calc(10px + 40*(100vw - 360px)/780);
            }
        }
    }

    &__grid2 {
        display: grid;
        grid-template-columns: 200px 570px;
        gap: 323px;
        justify-content: space-between;
        margin-top: 6rem;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(40px + 20*(100vw - 360px)/780);
            gap: calc(1px + 115*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }
    }
}

.development {
    margin-bottom: 14.5rem;
    position: relative;
    @media(max-width: $r_desk_1140) {
        margin-bottom: calc(70px + 75*(100vw - 360px)/780);
    }

    &__flex {
        display: grid;
        justify-items: start;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border-bottom: 2px solid #000001;
        padding-bottom: 35px;
        padding-top: 35px;
        gap: 30px;
        @media(max-width: $r_desk_1140) {
            padding-bottom: calc(15px + 20*(100vw - 360px)/780);
            padding-top: calc(15px + 20*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_700) {
            gap: 5px;
        }
    }

    &__flex:nth-child(1) {
        border-top: 2px solid #000001;
    }

    &__title1 {
        @media(max-width: $r_mob_700) {
            width: 186px;
        }
        @media(max-width: $r_mob_400) {
            width: 166px;
        }
    }

    &__text {
        max-width: 100%;
    }

    &__text-description-l {
        opacity: .8;
        font-weight: 400;
    }

    &__title {
        margin: 0 auto;
        margin-top: 18rem;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(80px + 100*(100vw - 360px)/780);
        }
    }
}

.portfolio {
    background-image: url(../images/background.png);
    background-size: contain;
    background-repeat: no-repeat;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #000001;
        @media(max-width: $r_tab_900) {
            flex-direction: column;
            align-items: start;
            padding-bottom: calc(40px + 30 * (100vw - 360px) / 780);
        }
    }

    &__title {
        text-transform:capitalize;
        margin-bottom: 4rem;
        margin-top: 11rem;
        @media(max-width: $r_desk_1140) {
            margin-bottom: calc(20px + 20*(100vw - 360px)/780);
            margin-top: calc(40px + 70*(100vw - 360px)/780);
        }
    }
    
    &__list {
        list-style-type: none;
        opacity: 0.8;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1.6rem;
        @media(max-width: $r_desk_1140) {
            margin-bottom: calc(10px + 6*(100vw - 360px)/780);
            font-size: calc(12px + 4*(100vw - 360px)/780);
        }
    }

    &__description-l {
        margin-top: 4rem;
        margin-bottom: 10rem;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(20px + 20*(100vw - 360px)/780);
            margin-bottom: calc(40px + 60*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            margin-bottom: calc(40px + 30 * (100vw - 360px) / 780);
        }
    }

    &__website1 {
        display: block;
        background-image: url(../images/fitness.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @media(max-width: $r_desk_1140) {
            width: calc(300px + 260*(100vw - 360px)/780);
            height: calc(160px + 155*(100vw - 360px)/780);
        }
    }

    &__website2 {
        display: block;
        background-image: url(../images/shop.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @media(max-width: $r_desk_1140) {
            width: calc(300px + 260*(100vw - 360px)/780);
            height: calc(160px + 155*(100vw - 360px)/780);
        }
    }

    &__additionally {
        margin-top: 18rem;
        padding-bottom: 8rem;
        border-bottom: 2px solid #000001;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(80px + 100*(100vw - 360px)/780);
            padding-bottom: calc(40px + 40*(100vw - 360px)/780);
        }
    }

    &__description-xl {
        margin: 0;
        line-height: 150%;
        width: 87rem;
        @media(max-width: $r_desk_1140) {
            font-size: calc(14px + 14 * (100vw - 360px) / 780);
            width: calc(300px + 570 * (100vw - 360px) / 780);
        }
        
    }
    
    &__info {
        margin-top: 8rem;
        margin-bottom: 18rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 68px;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(40px + 40*(100vw - 360px)/780);
            margin-bottom: calc(60px + 120*(100vw - 360px)/780);
            gap: 80px 3%;
        }
        @media(max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
            gap: calc(30px + 30*(100vw - 360px)/780) 3%;
        }
        @media(max-width: $r_mob_700) {
            grid-template-columns: repeat(1, 1fr);
            gap: calc(30px + 20*(100vw - 360px)/780);
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            @media(max-width: $r_desk_1140) {
                gap: calc(20px + 17*(100vw - 360px)/780);
            }
            @media(max-width: $r_desk) {
                width: calc(300px + 64*(100vw - 360px)/780);
            }
            @media(max-width: $r_mob_700) {
                width: calc(300px + 5*(100vw - 360px)/780);
            }
            @media(max-width: $r_mob_500) {
                width: calc(280px + 5*(100vw - 360px)/780);
            }
            @media(max-width: $r_mob_360) {
                width: calc(260px + 5*(100vw - 360px)/780);
            }
        }

        &-image {
            width: 40px;
            height: 40px;
            @media(max-width: $r_desk_1140) {
                width: calc(25px + 15*(100vw - 360px)/780);
                height: calc(25px + 15*(100vw - 360px)/780);
            }
        }
    }

    &__description-l1 {
        margin: 0;
        margin-bottom: 1rem;
        @media(max-width: $r_desk_1140) {
            margin-bottom: calc(10px - 5*(100vw - 360px)/780);
        }
    }

    &__description-s {
        opacity: .8;
        margin: 0;
    }

    &__skill {
        margin-bottom: 18rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        @media(max-width: $r_desk_1140) {
            margin-bottom: calc(80px + 100*(100vw - 360px)/780);
        }
    }

    &__knowledge {
        position: relative;
        border: 1px solid rgba(0,0,1,.3);
        width: auto;
        height: 148px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: .3s;
        cursor: pointer;
        @media(max-width: $r_desk_1140) {
            height: calc(44px + 104*(100vw - 360px)/780);
        }
        
        &:hover {
            border: 1px solid rgba(0,0,1,1);

            .portfolio__image-program {
                -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                opacity: 1;
                transform: scale(1.1);
                @media(max-width: $r_tab_900) {
                    transform: scale(1);
                }
            }
            .portfolio__tooltip-text {
                visibility: visible;
                opacity: 1;
            }
            @media(max-width: $r_tab_900) {
                border: 1px solid rgba(0,0,1,.3);
            }
        }
    }

    &__tooltip {
        display: inline-block;

        &-text {
            visibility: hidden;
            width: 188px;
            background-color: #d40000;
            color: #f3f2f0;
            text-align: center;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 90%;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-weight: 500;
            font-size: 1rem;
            line-height: 150%;
            opacity: .2;
            transition: .3s;
            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: rgba(0,0,0,0) rgba(0,0,0,0) #d40000 rgba(0,0,0,0);
            }
            @media(max-width: $r_tab_900) {
                display: none;
            }
        }

        &-title {
            display: block;
            margin-bottom: 7px;
        }
    }

    &__image-program {
        -webkit-filter: grayscale(1);
                filter: grayscale(1); 
        opacity: .5;
        transition: .3s;
        @media(max-width: $r_tab_900) {
            -webkit-filter: grayscale(0);
                    filter: grayscale(0);
            opacity: 1;
        }

        &-html {
            width: 77px;
            height: 84px;
            @media(max-width: $r_desk_1140) {
                width: calc(23px + 54*(100vw - 360px)/780);
                height: calc(25px + 59*(100vw - 360px)/780);
            }
        }
        &-css {
            width: 76px;
            height: 82px;
            @media(max-width: $r_desk_1140) {
                width: calc(23px + 53*(100vw - 360px)/780);
                height: calc(25px + 57*(100vw - 360px)/780);
            }
        }
        &-js {
            width: 71px;
            height: 77px;
            @media(max-width: $r_desk_1140) {
                width: calc(22px + 49*(100vw - 360px)/780);
                height: calc(23px + 54*(100vw - 360px)/780);
            }
        }
        &-jq {
            width: 76px;
            height: 82px;
            @media(max-width: $r_desk_1140) {
                width: calc(23px + 53*(100vw - 360px)/780);
                height: calc(24px + 58*(100vw - 360px)/780);
            }
        }
        &-bt {
            width: 71px;
            height: 71px;
            @media(max-width: $r_desk_1140) {
                width: calc(21px + 50*(100vw - 360px)/780);
                height: calc(21px + 50*(100vw - 360px)/780);
            }
        }
        &-php {
            width: 105px;
            height: 55px;
            @media(max-width: $r_desk_1140) {
                width: calc(36px + 69*(100vw - 360px)/780);
                height: calc(17px + 38*(100vw - 360px)/780);
            }
        }
        &-vjs {
            width: 81px;
            height: 70px;
            @media(max-width: $r_desk_1140) {
                width: calc(25px + 56*(100vw - 360px)/780);
                height: calc(21px + 49*(100vw - 360px)/780);
            }
        }
        &-wp {
            width: 74px;
            height: 74px;
            @media(max-width: $r_desk_1140) {
                width: calc(22px + 52*(100vw - 360px)/780);
                height: calc(22px + 52*(100vw - 360px)/780);
            }
        }
    }
}

.price {

    &__head {
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: relative;
        padding-bottom: 8rem;
        @media(max-width: $r_desk_1140) {
            padding-bottom: calc(30px + 50*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            flex-direction: column;
        }

        &-title {
            margin: 0;
            line-height: 150%;
            text-align: left;
            margin-bottom: 20px;
        }

        &-description-xl {
            opacity: .8;
            max-width: 548px;
            line-height: 150%;
            text-align: left;
            margin: 0;
            @media(max-width: $r_desk_1140) {
                max-width: calc(340px + 208*(100vw - 360px)/780);
            }
        }
    }

    &__services {

        &-structure{
            text-align: left;
        }

        &-title {
            margin: 0;
            text-align: left;
        }

        &_title {
            margin: 0;
            margin-bottom: 2rem;
            line-height: 150%;
            max-width: 371px;
        }

        &-list {
            list-style-type: none;
            opacity: 0.8;
            padding: 0;
            margin: 0;
            line-height: 200%;
        }

        &-project {
            display: flex;
            text-align: left;
            align-items: center;
        }

        &-cash {
            display: flex;
            align-items: center;
        }
    }
    
    &__website {
        padding-top: 6rem;
        border-top: 2px solid #000001;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        justify-content: space-between;
        gap: 7.5rem 20rem;
        @media(max-width: $r_desk_1140) {
            padding-top: calc(40px + 20*(100vw - 360px)/780);
            gap: calc(15px + 60*(100vw - 360px)/780) calc(35px + 165*(100vw - 360px)/780);
        }
    }

    &__description-m {
        opacity: .8;
        margin: 0;
    }

    &__description-l {
        margin: 0;
        margin-bottom: 2rem;
    }

    &__description-xxl{
        position: relative;
        text-align: left;
        margin: 0;
    }
}

.feedback {
    margin-top: 16.5rem;
    @media(max-width: $r_desk_1140) {
        margin-top: calc(80px + 85*(100vw - 360px)/780);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 6rem;
        border-bottom: 2px solid #000001;
        @media(max-width: $r_tab_900) {
            flex-direction: column;
        }

        &-title {
            max-width: 286px;
            line-height: 150%;
            margin: 0;
            @media(max-width: $r_desk_1140) {
                max-width: calc(166px + 120*(100vw - 360px)/780);
            }
        }

        &-description-xl {
            max-width: 486px;
            line-height: 150%;
            margin: 0;
            @media(max-width: $r_desk_1140) {
                max-width: calc(286px + 200*(100vw - 360px)/780);
            }
            @media(max-width: $r_tab_900) {
                margin-top: calc(20px + 20*(100vw - 360px)/780);
            }
        }
    }

    &__connection {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 6rem;
        padding-bottom: 13rem;
        border-bottom: 2px solid #000001;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(40px + 20*(100vw - 360px)/780);
            padding-bottom: calc(60px + 70*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__contact {
        @media(max-width: $r_tab_900) {
            margin-top: 60px;
        }
        
    }

    &__social {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 5.6rem;
        @media(max-width: $r_mob_700) {
            gap: 1rem;
        }
    
        &-link {
            color: $black;
            text-decoration: none;
            font-size: 1.6rem;
            transition: .3s;
            @media(max-width: $r_desk_1140) {
                font-size: calc(12px + 4*(100vw - 360px)/780);
            }
            &:hover {
                color: $red;
                transition: .3s;
            }
        }
    
        &-inst,&-ldin {
            &::before {
                content: '';
                position: relative;
                border-right: 2px solid rgba(0,0,1,.2);
                left: -28px;
                pointer-events: none;
                @media(max-width: $r_mob_700) {
                    left: -5px;
                }
            }
        }
    }
}

.form {

    &__computer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 560px;
        @media(max-width: $r_mob_700) {
            width: 400px;
        }
        @media(max-width: $r_mob_500) {
            width: 280px;
        }
    }

    &-label {
        font-size: 1.2rem;
        line-height: 150%;
        opacity: .8;
        margin-bottom: 10px;
        @media(max-width: $r_desk_1140) {
            font-size: calc(10px + 2*(100vw - 360px)/780);
            margin-bottom: calc(8px + 2*(100vw - 360px)/780);
        }
    }

    &-email {
        font-size: 1.2rem;
        line-height: 150%;
        margin-bottom: 20px;
        color: rgba(1, 1, 1, .2);
        background-color: rgb(231, 230, 228);
        padding: 23.5px 20px;
        outline: 0;
        border: none;
        @media(max-width: $r_desk_1140) {
            font-size: calc(10px + 2*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_700) {
            padding: 20px 20px;
        }

        &:hover {
            color: $black;
        }
    }

    &-btn {
        background-color: $red;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        padding: 20px;
        color: $white;
        margin-top: 4rem;
        cursor: pointer;
        border: none;
        transition: .3s;
        z-index: 1;
        @media(max-width: $r_desk_1140) {
            font-size: calc(12px + 4*(100vw - 360px)/780);
            margin-top: calc(30px + 10*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_700) {
            padding: 18.5px 20px;
        }
        &:hover {
            background-color: $red_hover_btn;
        }
    }
}

.drop {

    &__computer {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    &-items {
        position: absolute;
        /* top: calc(100% + .4rem); */   
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: -9px;
        transition: all .3s ease;    
        background: rgb(231, 230, 228);
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 3;
        
        .item-drop {
            list-style: none;
            display: block;
            color: rgba(1, 1, 1, .4);
            text-decoration: none;
            padding: 0.7rem;
            transition: all .3s ease;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 150%;
            text-align: left;
            padding-left: 22px;
            @media(max-width: $r_desk_1140) {
                font-size: calc(10px + 2*(100vw - 360px)/780);
            }
            @media (hover: hover) {
                &:hover{
                    color: rgba(1, 1, 1);
                }          
            }
            &:nth-child(1) {
                padding-top: 0;
            }
            
        }
      
    }
}

.overlay-close {
    position: fixed;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translate(100%,0);
    pointer-events: none;
}

input[type="checkbox"]{
    display: none;

    &:checked{
        ~.drop-items{
            opacity: 1;
            max-height: 110px;
            padding: 0;
            padding-bottom: 1rem;
        }

        ~.control{       
            z-index: 3;
            box-shadow: 0 0 0 2px rgba(1, 1, 1, .05);
            &:after{transform: rotate(180deg);}
        }
        
        ~.overlay-close{
            transform: none;
            pointer-events: initial;
        }
    }
}

.control{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    color: rgba(1, 1, 1);
    display: inline-block;
    cursor: pointer;
    padding: 23.5px 22px;
    background: rgb(231, 230, 228);
    transition: all .3s ease;
    text-align: left;
    align-items: center;
    @media(max-width: $r_desk_1140) {
        font-size: calc(10px + 2*(100vw - 360px)/780);
    }
    @media(max-width: $r_mob_700) {
        padding: 20px 20px;
    }
    @media(max-width: $r_mob_500) {
        padding: 20px 20px;
    }

    &-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 514px;
        &:after {
        content: "";
        display: inline-block;      
        height: 8px;
        width: 14px;
        /* margin-left: 42rem;*/
        background-image: url(../images/arrowdown.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;      
        transition: transform .3s ease;
        }
        @media(max-width: $r_mob_700) {
            width: 360px;
        }
        @media(max-width: $r_mob_500) {
            width: 240px;
        }

        &-text {
            display: inline-block;
            margin: 0;
        }
    }
}

.footer {
    margin-top: 6rem;
    @media(max-width: $r_desk_1140) {
        margin-top: calc(40px + 20*(100vw - 360px)/780);
    }

    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 3rem;
        @media(max-width: $r_desk_1140) {
            gap: calc(7.6px + 22.4*(100vw - 360px)/780);
        }
        @media(max-width: $r_tab_900) {
            margin-top: 30px;
        }
    }

    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.6rem;
        @media(max-width: $r_mob_360) {
            gap: 1.6rem;
        }
    }

    &__tel{
        color: $black;
        font-size: 14px;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
        @media(max-width: $r_mob_500) {
            font-size: 12px;
        }
        @media(max-width: $r_mob_360) {
            font-size: 11px;
        }
    }

    &__email {
        color: $black;
        font-size: 14px;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
        &::before {
            content: '';
            position: relative;
            border-right: 2px solid rgba(0,0,1,.2);
            left: -13px;
            pointer-events: none;
            @media(max-width: $r_mob_360) {
                left: -8px;
            }
        }
        @media(max-width: $r_mob_500) {
            font-size: 12px;
        }
        @media(max-width: $r_mob_360) {
            font-size: 11px;
        }
    }
    
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: $r_tab_900) {
            flex-direction: column-reverse;
        }
    }

    &__law {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
        @media(max-width: $r_desk_1140) {
            margin-top: calc(30px + 10*(100vw - 360px)/780);
            margin-bottom: calc(30px + 10*(100vw - 360px)/780);
        }
        @media(max-width: $r_mob_500) {
            flex-direction: column;
        }

        &-protection {
            opacity: .3;
        }

        &-text {
            display: inline-block;
            opacity: .3;
            margin: 0;
            @media(max-width: $r_mob_500) {
                margin-top: 15px;
            }
        }

        &-web {
            color: $black;
            transition: .3s;
            opacity: .3;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    background: rgba(0,0,0,.7);
    border: none;
    z-index: 3;
}
.popup {
    background-color: #F3F2F0;
    max-width: 600px;
    margin: 110px auto;
    position: relative;
    z-index: 10;
    @media(max-width: $r_mob_700) {
        max-width: 430px;
    }
    @media(max-width: $r_mob_500) {
        max-width: 310px;
    }
    
    &-form {
        padding-left: 5px;
        padding-right: 5px;

        &-wrapper {
            border-top: 2px solid rgba(0,0,1,1);
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }

    &-title {
        font-size: 2.2rem;
        letter-spacing: 0.03em;
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding-top: 5.5rem;
        text-transform: uppercase;
        text-align: center;
        @media(max-width: $r_mob_500) {
            font-size: 1.6rem;
            line-height: 1.5;
            width: 200px;
            padding-top: 6rem;
        }
    }

    &-text {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        max-width: 325px;
        @media(max-width: $r_mob_500) {
            width: 265px;
            margin-bottom: 4rem;
        }
    }

    &-close {
        display: block;
        width: 20px;
        height: 20px;
        border-color: rgba(0,0,0,0);
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgba(0,0,0,0);
        border: none;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 3;
    }
}

.modal {
    max-width: 100%;
    background-color: #EEEEEE;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -450px;
    margin: 0 auto;
    transition: .5s;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    height: 460px;
    z-index: 10;
    display: none;
    @media(max-width: $r_tab) {
        display: block;
    }

    &__list {
        display: block;
        padding-top: 4rem;
        opacity: 0.8;
        padding-bottom: 1rem;
        &:hover {
            opacity: 1;
        }
    }

    &__item {
        border-top: 1px solid rgba(1, 1, 1, 0.2);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__link {
        font-size: 21px;
        font-weight: 400;
    }

    &__close {
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 32px;
        right: 11px;
        opacity: 0.7;
        transition: 0.3s;
        &:hover {
            opacity: 1;
        }
    }

    &__info {
        display: block;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 400;
        max-width: 170px;
        margin: 0 auto;
    }

    &__tel {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__email {
        border-top: 2px solid rgba(0, 0, 1, 0.2);
        padding-top: 10px;
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__soc {
        width: auto;
        display: block;
        align-self: auto;
    }

    &__socity {
        padding-right: 1rem;
        padding-left: 1rem;
        justify-content: center;
    }

    &__social-link  {
        font-size: 12px;
    }
}


