@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black: #010101;
$red: #D40000;
$red_hover_btn: #EA0E00;
$white: #ffffff;

$font: 'Inter', sans-serif;

$r_mimob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
}
 
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Для слайдеров
    > * {
        min-width: 0;
    }
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    font-family: $font;
    color: $black;
    background-color: #e5e5e5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
}

h1 {
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 122%;
    text-transform: uppercase;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 400;
}

.span {
    &__about {
        font-size: 2.8rem;
        font-weight: 400;
        display: block;
        text-transform: capitalize;
        margin-bottom: 3rem;
    }
}

.header {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 3rem;
    }

    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.6rem;
    }

    &__tel{
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
    }

    &__email {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s;
        }
        &::before {
            content: '';
            position: relative;
            border-right: 2px solid rgba(0,0,1,.2);
            left: -13px;
            pointer-events: none;
        }
    }
}

.btn {

    &__project {
        font-size: 1.6rem;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        position: relative;
        transition: .3s;
        &::before {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background-color: $black;
            left: 0%;
            transition: .3s;
            bottom: -5px;
        }
    }
}

.figure {

    &__triangle1 {
        position: absolute;
        top: -24rem;
        left: -8rem;
        z-index: -1;
    }
    &__triangle2 {
        position: absolute;
    }
    &__circle1 {
        position: absolute;
        top: -20rem;
        left: -6rem;
        z-index: -2;
    }
    &__circle2 {
        position: absolute;
        bottom: 10rem;
        right: 2rem;
    }
    &__circle3 {
        position: absolute;
    }
    &__circle4 {
        position: absolute;
    }
    &__circle5 {
        position: absolute;
    }
    &__circle6 {
        position: absolute;
    }
}

.main {

    &__about {
        margin-top: 6rem;
    }

    &__info-up {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
}